@font-face {
    font-family: raleway;
    src: url(fonts/raleway-v28-latin-regular.woff2);
}
body{
    font-family: raleway;
    margin: 0;
}
textarea{
    font-family: raleway;
    width: 155px;
    height: 140px;
    resize: none;
    border: none;
    font-size: 16px;
}
textarea:focus{
    outline: none;
    border: none;
}
h1{
    font-size: 80px;
    margin: 0;
    padding: 0;
}
h2{
    font-size: 18px;
    margin: 0;
    padding: 0;
}
.animate{
    animation: 300ms test ease-in-out;
}
.animatejustone{
    animation: 300ms test1 ease-in-out;
}
.animatedelete{
    animation: inf delete ease-out;
    box-shadow: none !important;     
}
.animatedelete1{
    animation: 700ms delete1 ease-in-out;
    box-shadow: none !important; 
}
@keyframes test1{
    from{
        top: 100px;
       opacity: 1;
    } 
    to{
        top: 375px;
        opacity: 0;
    }
}
@keyframes delete {
    from{
       opacity: 1;
        color: rgb(254, 254, 254, 1);
    }
    to{
        opacity: 0;
        color: rgb(254, 254, 254, 0);
    }
}
@keyframes delete1 {
    from{
        background-color: black;
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
@keyframes test{
    from{
       right: 550px;
       opacity: 1;
    } 
    to{
        right: 860px;
        top: 355px;
        opacity: 0;
    }
}
.hide{
    display: none !important;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(img/bg2.jpg);
    background-size: 50%;
    background-repeat: repeat;   
    min-height: 100vh;
}
.trash-margintop{
    height: 200px;
}
.headline-container{
    height: 250px;
    width: 850px;
    display: flex;
    justify-content: flex-start;
    color: white;
    margin-top: 70px;
}
.headline-container img{
    height: 40px;
    width: 40px;
}

.newnote-container{
    display: flex;
    flex-direction: column;
}

.pin-container{
    display: flex;
    width: 110px;  
    justify-content: space-between;  
    cursor: pointer;
}
.pin-container, .trash-container, .moveall-container{
    border-radius: 10%;
    padding: 5px;
}
.pin-container:hover, .trash-container:hover, .moveall-container:hover{
    background-color: rgb(0, 0, 0, 0.6);
    color: rgb(174, 171, 171)
}
.pin-container:hover img, .trash-container:hover img, .moveall-container:hover img, .trash-arrow:hover img{
    filter: invert(0.5);
}
.trash-container{
    display: flex;
    width: 80px;  
    justify-content: space-between;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: white;
}


.pin-trash{
    width: 230px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.moveall-container{
    position: absolute;
    width: 120px;
    justify-content: space-between;
    align-items: center;
    top: 50px;
    right: 50px;
    color: white;
    display: flex;
    cursor: pointer;

}

.input-container{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px;
    padding: 10px;
    width: 160px;
    height: 180px;
    margin-bottom: 30px;
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    background-color: white;
    
}
.save-container{
    height: 40px;
    display: flex;
    justify-content: flex-end;
    object-fit: contain;
    padding-right: 10px;
    margin-top: 10px;
    cursor: pointer;
}
.save-container:hover img, .delete-container img:hover{
    transform: scale(1.3);
}
.save-container img{
    width: 20px;
    height: 20px;
}


.notes-container{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 500px;

}
.notes-input-delete{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.notes{
    margin: 15px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom:15px;
    height: 180px;
    width: 160px;
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
    display: flex;
    flex-direction: column; 
}
.notes img{
    width: 20px;
    height: 20px;
}
.notes p{
    height: 170px;
    overflow-y: auto;
}
.delete-container{
    height: 30px;
    display: flex;
    justify-content: space-between;
    object-fit: contain;

}
.delete-container img{
    cursor: pointer;
}

.arrow-container{
    position: absolute;
    left: 50px;
    top: 50px;

}
.trash-arrow{
    width: 100px;
}

.trash-arrow img{
    width: 80px;
    height: 80px;
    cursor: pointer;
}


.bg1{
    background-color: rgb(33, 156, 205);
}
.bg2{
    background-color: rgb(60, 210, 61);
}
.bg3{
    background-color: rgb(254, 233, 26);
}
.bg4{
    background-color: rgb(248, 135, 15);
}
.bg5{
    background-color: rgb(250, 114, 116);
}
.bg6{
    background-color: rgb(250, 73, 176);
}
.bg7{
    background-color: rgb(64, 79, 246);
}
.bg8{
    background-color: rgb(243, 4, 227);
}
.bg9{
    background-color: rgb(4, 230, 204);
}
.bg10{
    background-color: rgb(241, 239, 136);
}
.bg11{
    background-color: black;
}

/* just for Mobiles */
@media (max-width: 950px){
    
    .headline-container{
        width:700px;
        margin-left: 55px;
    }
    h1{
        font-size: 57px;
    }
    .pin-trash{
        flex-direction: column;
    }
    @keyframes test{
        from{
            top: 100px;
           right: 370px;
           opacity: 1;
        } 
        to{
            right: 860px;
            top: 555px;
            opacity: 0;
        }
    }
}
@media (max-width: 750px){
  
    h1{
        font-size: 45px;
    }
    .moveall-container{
        flex-direction: column;
        
    }
    .arrow-container{
        top: 90px;
    }
    .headline-container{
        width: 550px;
    }
    @keyframes test{
        from{
            top: 100px;
           opacity: 1;
        } 
        to{
            top: 755px;
            opacity: 0;
        }
    }
}
@media (max-width: 550px){
    .moveall-margin{
      margin-top: 90px;
      margin-right: 30px;
    }
    h1{
        font-size: 90px;

    }
    .headline-container{
        justify-content: center;
        width: unset;
        margin-top: 30px;
        margin-left: unset;
    }
    .input-container{
        top: 295px;
    }
    .notes-container-margin{
        margin-top: 225px;
    }

    .animatejustone{
        animation: 300ms test ease-in-out !important;
    
    }
    .trash-margintop{
        margin-top: unset;
    }
    .arrow-container{
        top: 80px;
    }
    .container{
        background-size: 100%;
    }
    @keyframes test{
        from{
            top: 300px;
           opacity: 1;
        } 
        to{
            top: 695px;
            opacity: 0;
        }
    }
}

@media (max-width: 450px){
    .notes{
        width: 232px;
        height: 300px;
    }
    .notes p{
        height: 300px;
        font-size: 23px;
    }
    textarea{
        height: 290px;
        font-size: 23px;
    }
    .input-container{
        width: 240px;
        height: 300px;
    }
    .notes-container-margin{
        margin-top: 350px;
    }
    .moveall-container{
        right: 30px;
    }
}
@media (max-width: 300px){
    h1{
        font-size: 50px;
        text-align: center;
    }
    .moveall-margin{
        margin-right:0 !important;
        margin-top: 40px;
    }
    .moveall-container{
        width: 70px;
    }
    .pin-trash{
        width: 165px;
    }
}
